@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    color: #333;
}

.container {
   margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); ;
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
}

button:hover{
    background: #5a7bd8;
}

p{
    text-align: center;
    font-size: 14.5px;
    margin-bottom: 10px;
}

p a{
    color: #7494ec;
    text-decoration: none;
}   

p a:hover{
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background-color: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-size: 50px;
}

span{
    color: #7494ec;
}

.box p{
    font-size: 22px;
}

.box button{
   display: block;
   width: 300px;
   margin: 0 auto;
}